* {
    box-sizing: border-box;
    
 }

 body {
    margin: 0;
    background-image: url("../img/fondo\ violeta.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
ul, ol {
    padding: 0;
  }

li {
    list-style-type: none;
}
 
a {
   text-decoration: none; color: #000;
}

p{
    margin: 0;
}

/* h3{
    margin: 0;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
}

.contenedor-logo {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    padding: 2vw;
    order: 0;
}


.logo {
    width: 12vw;
    border-radius: 100%;
}

.contenedor-buscador {
    display: flex;
    justify-self: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding: 2vw;
    order: 2;
    align-self: flex-start;
}

.contenedor-menu{
    order: 1;
    
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 40vw;
}

.menu li{
    background-color: rgb(71, 21, 133);
    border-radius: 0.9vw;
    border-color: rgb(50, 17, 121);
    padding: 0.5vw 1vw;
}

.menu li a{
    font-size: 2vw;
    color: white;
}

#enviarform{
    background-color: rgb(86, 25, 219);
    color: white;
    padding: 0.1vw 0.5vw;
    border-radius: 0.4vw;
    border-color: rgb(65, 11, 183);
    font-weight: bold;
    width: 8vw;
    height: 4vh;
}

#busqueda{
    width: 12vw;
    height: 3vh;
}

.contenedor-canciones{
    display: flex;
    /*centrar los contenedores de secciones*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95vw;
    background-color: rgb(153, 56, 195);
    border-radius: 2vw;
}

.bloque-cancion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 130px;
    padding: 3vw 0vw 3vw 0vw;
    justify-content: center;
    align-items: center;
}

.contenedor-canciones .bloque-cancion img{
    /*centrar foto en el bloque de la canción*/
    width: 25vw; 
}

/* .contenedor-canciones .bloque-cancion h3{
    /*separar titulo de nombre de artista y album*/
/* } */

.bloque-cancion-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*aca copiamos el css de contenedor canciones*/

.contenedor-album{
    display: flex;
    /*centrar los contenedores de secciones*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95vw;
    background-color: rgb(153, 56, 195);
    border-radius: 2vw;
}

.bloque-album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 130px;
    padding: 3vw 0vw 3vw 0vw;
    justify-content: center;
    align-items: center;
}

.contenedor-album .bloque-album img{
    width: 25vw; 
}

.bloque-album-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-artista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95vw;
    background-color: rgb(153, 56, 195);
    border-radius: 2vw;
}

.bloque-artista{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 130px;
    padding: 3vw 0vw 3vw 0vw;
    justify-content: center;
    align-items: center;
}

.contenedor-artista .bloque-artista img{
    width: 25vw; 
}

.bloque-artista-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}